body {
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-top: 20px;
}

.score-panel {
    text-align: left;
    width: 345px;
    margin-top: 20px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.timer {
    margin-left: 50px;
}

.moves {
    margin-left: 50px;
}

.star-disabled {
    opacity: 0.1;
}

.dropdown{
    text-align: center;
    margin-top: 30px;
}
/*
 * Styles for the Modal
 */

.rounded {
    margin-top: 50px;
    margin-bottom: 30px;
}

.heading {
    text-align: center; 
}

.message {
    text-align: center;
}

.message1 {
    text-align: center;
}

.modal-footer {
    display: flex; 
    justify-content: center;;
}
